Babel==2.12.1
beautifulsoup4==4.12.0
certifi==2022.12.7
charset-normalizer==3.1.0
docutils==0.19
future==0.18.2
idna==3.4
imagesize==1.4.1
importlib-metadata==6.1.0
Jinja2==3.1.2
MarkupSafe==2.1.2
packaging==23.0
Pygments==2.14.0
PySide2==5.15.2
python-dotenv==0.21.1
pytz==2022.7.1
PyYAML==6.0
requests==2.28.2
shiboken2==5.15.2
shiboken2-generator==5.15.2
snowballstemmer==2.2.0
soupsieve==2.4
typing_extensions==4.5.0
urllib3==1.26.15
zipp==3.15.0
QtPy==2.3.1
