alabaster==0.7.13
Babel==2.12.1
beautifulsoup4==4.12.0
certifi==2022.12.7
charset-normalizer==3.1.0
debugpy==1.6.5
docutils==0.19
dotenv-python==0.0.1
future==0.18.2
idna==3.4
imagesize==1.4.1
importlib-metadata==6.1.0
Jinja2==3.1.2
MarkupSafe==2.1.2
packaging==23.0
pydantic==1.10.6
Pygments==2.14.0
PySide2==5.15.2
python-dotenv==0.21.1
pytz==2022.7.1
PyYAML==6.0
requests==2.28.2
shiboken2==5.15.2
shiboken2-generator==5.15.2
snowballstemmer==2.2.0
soupsieve==2.4
Sphinx==5.3.0
sphinx-basic-ng==1.0.0b1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
typing_extensions==4.5.0
urllib3==1.26.15
zipp==3.15.0
